.nav{
 
  
  border: 5px solid black;
  height: 100vh;
}
.main-heading{
  font-family: 'Brush Script MT', cursive;
  font-size: 25px;
  text-shadow: 5px 5px 6px rgb(16, 14, 14);
  color:rgb(16, 15, 15);
  text-align: center;
  padding-left: 20px;
}
.top-components{
  padding-left: 400px;
  padding-right: 400px;
}

body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  padding: 0%;
  
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}